* {
  padding: 0px;
  margin: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  box-sizing: border-box;
  background: linear-gradient(aqua, rgb(89, 205, 153));
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  padding: 1vh 5vw;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  box-shadow: 0px -2px 5px 1px red;
}
.nav-bar {
  font-size: 1em;
  font-weight: 700;
}
.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1vw;
  background: linear-gradient(to right, black, red);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all;
  transition-duration: 0.5s;
}
.nav-link:hover {
  font-size: 1.02em;
  background: linear-gradient(to right, rgb(55, 5, 255), rgb(249, 2, 125));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.name {
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  background: linear-gradient(
    to right bottom,
    rgb(3, 100, 242),
    rgb(173, 11, 173)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  cursor: default;
}
.abovePage {
  width: 100vw;
  /* background-color: rgb(180, 208, 233); */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.abovePageImg {
  width: 40vh;
  height: 40vh;
}
.abovePageContent {
  text-transform: uppercase;
  width: 325;
}
.ap {
  margin: 1.5vh 0px;
  margin-left: 5px;
}
.ap-l1 {
  font-size: 1.2em;
  font-weight: 500;
}
.ap-l2 {
  font-size: 1.8em;
  font-weight: 700;
}
.ap-l3 {
  font-size: 1.25em;
  font-weight: 500;
}
.ap-l4 {
  margin-left: 0px;
  margin-right: 10px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.ap-link-1,
.ap-link-2 {
  text-decoration: none;
  text-align: center;
  width: 85px;
  font-size: 14px;
  color: black;
  font-weight: 500;
  padding: 2px 5px;
  border: 2px solid;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 1px rgb(163, 28, 221);
  background: linear-gradient(to right, rgb(109, 109, 222), rgb(227, 129, 227));
}
.ap-link-1:hover {
  animation: btn-animation 2s linear 5;
}
.ap-link-2:hover {
  animation: btn-animation 2s linear 5;
}
@keyframes btn-animation {
  0% {
    border-left: 2px solid red;
  }
  25% {
    border-top: 2px solid green;
  }
  75% {
    border-right: 1px solid blue;
  }
  100% {
    border-bottom: 1px solid yellow;
  }
}
.belowPage {
  width: 100vw;
  /* background-color: rgb(180, 208, 233); */
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0px;
  margin: 0px;
}
.belowPageImg {
  width: 50vh;
  height: 40vh;
}
.belowPageContent {
  width: 50%;
}
.bp-heading {
  padding: 5px;
  margin-left: 5px;
  font-size: 25px;
}
.bp-description {
  padding: 5px;
  font-size: 1.1em;
}
.bp-description p {
  color: rgb(25, 26, 27);
  padding: 10px 0px;
}
.learn-more {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
.footer {
  width: 100vw;
  padding: 2px;
  background: linear-gradient(rgb(89, 205, 153), aqua);
  text-align: center;
}
.footer-link a {
  color: black;
  margin: 0px 20px;
  font-size: 20px;
}
.footer p {
  margin: 5px;
}
.about {
  width: 100vw;
  /* background-color: rgb(180, 208, 233); */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abt-img {
  margin: 30px 0px;
  width: 200px;
  box-shadow: 5px 5px 10px 2px rgb(60, 154, 236);
  border-radius: 10px;
  border: 5px solid black;
}
.abt-content {
  width: 50%;
}
.abt-content p {
  padding: 10px;
  line-height: 30px;
}
.abt-content p span {
  color: black;
}
.abt-link-container {
  margin: 10px;
}
.abt-link-container ul {
  list-style-type: none;
  padding-left: 5px;
}
.abt-link-container h2 {
  padding: 10px 0px;
}
.abt-link {
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  color: rgb(29, 3, 198);
  font-weight: 500;
}
.abt-link:visited {
  color: rgb(29, 3, 198);
}
.abt-link:hover {
  transform: scale(1.08);
}
.project-container {
  width: 100vw;
  /* background-color: rgb(180, 208, 233); */
  min-height: 80vh;
}
.project {
  width: 100%;
}
.project h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 35px;
  background: linear-gradient(to right, red, rgb(219, 19, 142));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 20px;
}
.project-details {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
}
.product-img {
  box-sizing: border-box;
  border: 4px solid black;
  border-radius: 11px;
  width: 45%;
  box-shadow: -5px 5px 10px 2px rgb(10, 10, 10);
}
.project-description {
  width: 45%;
  padding: 20px;
}
.project-link {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin: 6px;
}
@media screen and (max-width: 500px) {
  .name {
    font-size: 1.2em;
  }
  .abovePageContent {
    text-align: center;
  }
  .nav-bar {
    font-size: 0.8em;
  }
  .abovePage {
    flex-direction: column;
  }
  .footer-link a {
    font-size: 15px;
    margin: 0px 10px;
  }
  .footer p {
    font-size: 12px;
  }
  .belowPage {
    flex-direction: column-reverse;
  }
  .project-details {
    flex-direction: column;
  }
  .project-description {
    width: 80%;
  }
  .product-img {
    width: 80%;
    margin: 5px;
  }
  .project h2 {
    display: block;
    padding: 2px;
    text-align: center;
  }
  .abt-content {
    width: 80%;
  }
  .abt-content p {
    padding: 5px;
    line-height: 25px;
  }
}
